---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="h2">{{ card.title }}</h1>
  </header>
  <article class="post-content">


  {% if page.is_name %}
  <p>{{post.title}} is a family name recorded in the archive. </p>
  {% endif %}

  {{ content }}


{% if card.variants %}
  <h4>Variants on this term</h4>
  {% for v in card.variants %}
    {{v}}
  {% endfor %}
{% endif %}



{% if card.related %}
  <h4>Related index cards</h4>
  {% for rcard in card.related %}
  	{{rcard}}
  {% endfor %}
{% endif %}

  </article>
</div>
